<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layout}">
<head>
<title>LeapByCodes CRM! |</title>
</head>
<body>

	<div data-layout-fragment="side-menu">
		<div
			data-th-replace="/fragments/fragments-sidebar-menu :: sidebar-menu-company"></div>
	</div>
	<!-- page content -->
	<div class="right_col" role="main" data-layout-fragment="content">
		<div class="">
			<!--  page title -->

			<div data-th-replace="fragments/fragments-page-title :: page-title"></div>

			<!--  /page title -->
			<div class="clearfix"></div>
			<div class="row">
				<div data-th-replace="fragments/company/fragments-company-details :: company-details"></div>
				<div data-th-replace="fragments/company/fragments-company-details :: company-financial"></div>
				<div data-th-replace="/fragments/company/fragments-company-description :: company-description"></div>
				<div data-th-replace="/fragments/company/fragments-company-note :: company-note"></div>
			</div>
			<div class="clearfix"></div>
			<div data-th-replace="/fragments/professional/fragment-professional-table2 :: professional-table2"></div>

			<div class="clearfix"></div>
			<div data-th-replace="/fragments/address/fragment-address-table :: address-table"></div>

			<div class="clearfix"></div>
			<!-- financial table -->

			<div data-th-replace="/fragments/company/fragment-company-financial-tables :: financial-tables"></div>

			<!-- /financial table -->
			<div class="clearfix"></div>
			<!-- Key professionals-->
			<div data-th-replace="/fragments/professional/fragment-professional-tables :: professional-tables"></div>

			<!-- /Key professionals -->
			<div class="clearfix"></div>



			<!-- Transactions -->
			<div data-th-replace="/fragments/transactions/fragment-transactions-table :: transactions-table"></div>
			
			<!-- /Transactions -->
			<div class="clearfix"></div>
			<div data-th-replace="/fragments/transactions/fragment-transactions-table2 :: transactions-table2"></div>			

		</div>
	</div>

	<!-- /page content -->
	
</body>
</html>
