			<div class="row" data-th-fragment="professional-tables">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="x_panel">
						<div class="x_title">
							<h2>Key Professionals</h2>
							<ul class="nav navbar-right panel_toolbox">
								<a href="#" class="btn btn-info btn-xs"><i
									class="fa fa-pencil"></i> Edit </a>
							</ul>
							<div class="clearfix"></div>
						</div>
						<div class="x_content">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>Name</th>
										<th>Title</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Denzel, Washington</td>
										<td>Chief Executif Officer</td>
									</tr>
									<tr>
										<td>Oswald, Michelle</td>
										<td>President</td>
									</tr>
									<tr>
										<td>Larry, Page</td>
										<td>Managing Director</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="x_panel">
						<div class="x_title">
							<h2>Key Board members</h2>
							<ul class="nav navbar-right panel_toolbox">
								<a href="#" class="btn btn-info btn-xs"><i
									class="fa fa-pencil"></i> Edit </a>
							</ul>
							<div class="clearfix"></div>
						</div>
						<div class="x_content">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>Name</th>
										<th>Title</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Denzel, Washington</td>
										<td>Chief Executif Officer</td>
									</tr>
									<tr>
										<td>Oswald, Michelle</td>
										<td>President</td>
									</tr>
									<tr>
										<td>Larry, Page</td>
										<td>Managing Director</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>