			<div class="row" data-th-fragment="financial-tables">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="x_panel">
						<div class="x_title">
							<h2>Financial Information</h2>
							<ul class="nav navbar-right panel_toolbox">
								<a href="#" class="btn btn-info btn-xs"><i
									class="fa fa-pencil"></i> Edit </a>
							</ul>
							<div class="clearfix"></div>
						</div>
						<div class="x_content">
							<table class="table table-bordered">
								<tbody>
									<tr>
										<th scope="row">Total Revenue</th>
										<td>$ 2343.34</td>
									</tr>
									<tr>
										<th scope="row">Gross Profit</th>
										<td>234.3</td>
									</tr>
									<tr>
										<th scope="row">Net Income</th>
										<td>9.2</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="x_panel">
						<div class="x_title">
							<h2>Financial Information</h2>
							<ul class="nav navbar-right panel_toolbox">
								<a href="#" class="btn btn-info btn-xs"><i
									class="fa fa-pencil"></i> Edit </a>
							</ul>
							<div class="clearfix"></div>
						</div>
						<div class="x_content">
							<table class="table table-bordered">
								<tbody>
									<tr>
										<th scope="row">Operating Income</th>
										<td>$ 2343.34</td>
									</tr>
									<tr>
										<th scope="row">Total Asset</th>
										<td>Total Debt</td>
									</tr>
									<tr>
										<th scope="row">Net Debt</th>
										<td>15.2</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>