<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layout}">
  <head>
    <title>Trafalgar CRM! | </title>
  </head>
  <body >
      <!-- page content -->
        <div class="right_col" role="main" data-layout-fragment="content">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Enter note here</h3>
              </div>
            </div>
            <div class="clearfix"></div>        
            <div data-th-replace="/fragments/note/fragment-note-form :: note-form"></div>
          </div>
        </div>
        <!-- /page content -->
  </body>
</html>
