
<div class="col-md-12 col-sm-12 col-xs-12" data-th-fragment="company-note">
	<div class="x_panel">
		<div class="x_title">
			<h2>
				Company Notes <small></small>
			</h2>
			<ul class="nav navbar-right panel_toolbox">
				<a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i>
					Edit </a>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<p>The company description section of your business plan is
				typically the second section, coming after the executive summary.
				The company description outlines vital details about your company,
				such as where you are located, how large the company is, what you do
				and what you hope to accomplish The company description section of
				your business plan is typically the second section, coming after the
				executive summary. The company description outlines vital details
				about your company, such as where you are located, how large the
				company is, what you do and what you hope to accomplish</p>
		</div>
	</div>
</div>