                        <div class="col-md-6 col-sm-6 col-xs-12" data-th-fragment="company-details1">
                            <div class="x_panel">
                                <div class="x_content">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <th scope="row">Websites</th>
                                                <td>https://www.abrl.com</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Global number of employees</th>
                                                <td>9999</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Year Founded</th>
                                                <td>2011</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Current Professionals profiled</th>
                                                <td>16</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Aggregate Holding Period</th>
                                                <td>3.4</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Toal number Raised</th>
                                                <td>3.4</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12" data-th-fragment="company-details2">
                            <div class="x_panel">
                                <div class="x_content">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <th scope="row">Relationship</th>
                                                <td>no</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Activity Logs</th>
                                                <td>yes</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Exit Date</th>
                                                <td>2019</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Total Rounds of funding</th>
                                                <td>-</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>